body {
  background-image: url(../images/Background.jpg);
  background-size: auto;
  background-size: 1950px;
  margin: 0 0 20px 0;
}

.logo {
  text-align: center;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(46, 83, 46),
    rgb(115, 117, 115)
  );
}

.logo img {
  width: 400px;
  border-radius: 0px;
  margin: 5px 0 0 0;
}

.logo-profile {
  text-align: start;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(46, 83, 46),
    rgb(115, 117, 115)
  );
}

.logo-profile img {
  width: 250px;
  border-radius: 0px;
  margin: 5px 0 0 20px;
}

.container-profile {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 0 0;
}

.photo-member img {
  width: 300px;
  height: 300px;
}

.orc img {
  width: 170px;
  height: 170px;
}

.info {
  text-align: center;
}

.info p {
  font-size: 30px;
}

#phrase {
  margin-left: 100px;
  margin-right: 100px;
}

img {
  border-radius: 40px;
}

.member-title {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.member-title img {
  border-radius: 0px;
  margin: 0 20px 0 20px;
}

.container-member-master {
  width: 100%;
  height: 230px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.member-master {
  width: 260px;
  text-align: center;
}

#role {
  font-size: 20px;
  margin-left: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(68, 161, 49);
  width: 250px;
}

.container-member-advisor {
  width: 100%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.advisor {
  width: 210px;
  text-align: center;
}

.line {
  margin-top: 70px;
  height: 1px;
  clear: both;
  overflow: hidden;
  background-color: #9cbd9f;
}

h2 {
  margin-left: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(68, 161, 49);
  width: 260px;
}

.return img {
  margin: 20px 0 20px 20px;
}
